<html> 
<head></head> 
<body> 
<form action="{{ url_for('form') }}" method="POST"> 
    <label for="Name">Your name: (secure) </label> 
    <input type="text" name="Name"> 
    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />  
    <button type="submit">Submit</button> 
</form> 
  
  
<form action="{{ url_for('form') }}" method="POST"> 
    <label for="Name">Your name: (insecure) </label> 
    <input type="text" name="Name"> 
    <button type="submit">Submit</button> 
</form> 
  
</body> 
</html>
