{% extends "base.html" %}

{% block content%}
<style>
    body {
        background-color: rgb(0, 255, 183);
    }
    </style>
    <p>Telefon: {{ phone }}</p>
    <p>Adres: {{adress}}</p>

    <form action="{{ url_for('like_facebook') }}" method="post">
        <button type="submit">Śledź na Facebooku</button>
    </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
{% endblock %}
